@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  position: relative; }

h1 {
  font-size: 2rem; }

p {
  color: #58585B; }

a#scroll-to-top:link, a#scroll-to-top:visited {
  display: block;
  position: fixed;
  padding: 2.5rem 2.7rem;
  background-color: #f15d3a;
  bottom: -100%;
  right: 10rem;
  border-radius: 50%;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 1s, background-color 0.2s;
  color: white; }
  @media (max-width: 991.98px) {
    a#scroll-to-top:link, a#scroll-to-top:visited {
      right: 7rem; } }
  @media (max-width: 767.98px) {
    a#scroll-to-top:link, a#scroll-to-top:visited {
      right: 4rem; } }
  @media (max-width: 575.98px) {
    a#scroll-to-top:link, a#scroll-to-top:visited {
      right: 2rem; } }

a#scroll-to-top.show {
  bottom: 5rem; }
  @media (max-width: 991.98px) {
    a#scroll-to-top.show {
      bottom: 3rem; } }
  @media (max-width: 767.98px) {
    a#scroll-to-top.show {
      bottom: 2rem; } }
  @media (max-width: 575.98px) {
    a#scroll-to-top.show {
      bottom: 1rem; } }

a#scroll-to-top:hover, a#scroll-to-top:active {
  background-color: #ef4922; }

a#scroll-to-top i {
  font-size: 1.4rem; }

.navbar {
  padding: 1.2rem 0rem;
  font-size: 1.5rem;
  box-shadow: 0rem 0px 1rem #A7A9AB;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  z-index: 100; }
  .navbar .navbar-brand img {
    width: 130%;
    height: auto; }
  .navbar .navbar-toggler {
    border: none;
    background: transparent !important; }
    .navbar .navbar-toggler:focus {
      outline: none; }
    .navbar .navbar-toggler .icon-bar {
      width: 22px;
      height: 2px;
      background-color: red;
      display: block;
      transition: all 0.2s;
      margin-top: 4px; }
    .navbar .navbar-toggler.collapsed .top-bar {
      transform: rotate(0); }
    .navbar .navbar-toggler.collapsed .middle-bar {
      opacity: 1; }
    .navbar .navbar-toggler.collapsed .bottom-bar {
      transform: rotate(0); }
    .navbar .navbar-toggler .top-bar {
      transform: rotate(45deg);
      transform-origin: 10% 10%; }
    .navbar .navbar-toggler .middle-bar {
      opacity: 0; }
    .navbar .navbar-toggler .bottom-bar {
      transform: rotate(-45deg);
      transform-origin: 10% 90%; }
  @media (max-width: 991.98px) {
    .navbar .navbar-collapse {
      position: absolute;
      top: 9rem;
      left: 0;
      width: 100%;
      background-color: white;
      box-shadow: 0rem 0px 1rem #A7A9AB; } }
  @media (max-width: 991.98px) {
    .navbar .navbar-collapse ul.navbar-nav li.nav-item {
      text-align: center; } }
  .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    padding: 2rem !important; }
    .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:link, .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:visited {
      color: #58585B; }
    .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover, .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:focus {
      color: black; }
      @media (max-width: 991.98px) {
        .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover, .navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:focus {
          background-color: rgba(167, 169, 171, 0.1); } }

.hero-main {
  background-image: url("../images/background/hero-background3.jpg");
  background-position: top;
  background-size: contain;
  padding-top: 30rem;
  background-repeat: no-repeat; }
  @media (max-width: 991.98px) {
    .hero-main {
      background-size: 150%; } }
  @media (max-width: 575.98px) {
    .hero-main {
      background-size: 200%; } }
  @media (max-width: 398.98px) {
    .hero-main {
      background-size: 300%; } }

.hero-banner {
  text-align: center;
  margin-bottom: 10rem; }
  .hero-banner__img--image {
    margin: 0 auto;
    max-width: 50rem;
    width: 100%;
    height: auto; }
    @media (max-width: 767.98px) {
      .hero-banner__img--image {
        width: 80%; } }
  .hero-banner__text {
    padding: 6rem 12rem; }
    @media (max-width: 991.98px) {
      .hero-banner__text {
        padding: 6rem 6rem; } }
    @media (max-width: 767.98px) {
      .hero-banner__text {
        padding: 6rem 3rem; } }
    .hero-banner__text--title {
      margin-bottom: 3rem; }
      .hero-banner__text--title h1 {
        font-size: 2.5rem;
        font-weight: bold; }
        .hero-banner__text--title h1 span {
          color: #3a3a3c;
          line-height: 4rem; }
    .hero-banner__text--desc {
      margin-bottom: 6rem; }
      .hero-banner__text--desc p {
        font-size: 1.7rem;
        line-height: 3.2rem; }
  .hero-banner__slider--title {
    text-align: center;
    font-size: 1.6rem;
    line-height: 3.2rem;
    margin-bottom: 6rem;
    font-weight: bold; }
  .hero-banner__slider--slider .slick-prev:before, .hero-banner__slider--slider .slick-next:before {
    color: #ef4922; }
  .hero-banner__slider--slider .slick-slide {
    height: inherit; }
    .hero-banner__slider--slider .slick-slide img {
      width: 100%;
      height: auto;
      filter: grayscale(100%); }
    .hero-banner__slider--slider .slick-slide.slick-center img {
      filter: initial; }

.gallery-wrap {
  margin-top: 8rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  overflow: hidden;
  height: 80vh; }
  @media (max-width: 767.98px) {
    .gallery-wrap {
      flex-direction: column;
      height: calc( 100vh - 8rem); } }

.item {
  cursor: pointer;
  flex: 1;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  filter: grayscale(100%);
  transition: flex 0.8s ease;
  padding: 2rem;
  position: relative;
  overflow: hidden; }
  .item:hover {
    flex: 6;
    filter: grayscale(0%); }
  .item .item-view {
    position: absolute;
    bottom: 10;
    left: 0;
    transform: rotate(-90deg);
    width: 0px;
    height: 0px; }
    @media (max-width: 767.98px) {
      .item .item-view {
        position: relative;
        transform: rotate(0deg); } }
    .item .item-view span {
      color: white;
      font-size: 4rem;
      white-space: nowrap;
      text-transform: uppercase;
      display: block;
      margin-bottom: 0px; }
      @media (max-width: 991.98px) {
        .item .item-view span {
          font-size: 3rem; } }
      @media (max-width: 767.98px) {
        .item .item-view span {
          font-size: 2rem; } }

.item-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/home/projectLogistics.jpg"); }

.item-2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/home/chemcalTransportation.jpg"); }

.item-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/home/ContainerTrading.jpg"); }

.item-4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/home/customeBroker.jpg"); }

.item-5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/home/itSolutions.jpg"); }

.item-6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../images/home/corporateSocialResponsibility.jpg"); }

.corporate-statement {
  background-color: rgba(239, 73, 34, 0.8);
  padding-bottom: 20rem;
  margin-bottom: 30rem; }
  @media (max-width: 1199.98px) {
    .corporate-statement {
      margin-bottom: 30rem; } }
  @media (max-width: 991.98px) {
    .corporate-statement {
      margin-bottom: 20rem; } }
  @media (max-width: 767.98px) {
    .corporate-statement {
      padding-bottom: 10rem;
      margin-bottom: 25rem; } }
  .corporate-statement__statement {
    padding: 6rem 6rem;
    color: white; }
    @media (max-width: 991.98px) {
      .corporate-statement__statement {
        padding: 6rem 6rem; } }
    @media (max-width: 991.98px) {
      .corporate-statement__statement {
        padding: 6rem 4rem; } }
    .corporate-statement__statement--title {
      text-align: center;
      margin-bottom: 3rem; }
      .corporate-statement__statement--title h1 {
        font-size: 2.5rem; }
    .corporate-statement__statement--desc {
      text-align: justify; }
      .corporate-statement__statement--desc p {
        font-size: 1.6rem;
        line-height: 3.2rem;
        color: white; }
    .corporate-statement__statement--credits {
      text-align: right; }
      .corporate-statement__statement--credits p {
        font-size: 2rem;
        color: white;
        margin-bottom: 0rem; }
      .corporate-statement__statement--credits span {
        font-size: 1.6rem; }
  .corporate-statement__video {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center; }

#quick-icon-section .quick-icon {
  padding: 8rem 0rem 4rem 0rem; }
  #quick-icon-section .quick-icon__title {
    text-align: center; }
    #quick-icon-section .quick-icon__title h1 {
      font-size: 2.5rem; }
  #quick-icon-section .quick-icon::after {
    content: "";
    clear: both;
    display: table; }
  #quick-icon-section .quick-icon__item {
    padding: 0rem 4rem;
    text-align: center;
    float: left;
    width: 33.33333%; }
    @media (max-width: 991.98px) {
      #quick-icon-section .quick-icon__item {
        padding: 0rem 2rem; } }
    @media (max-width: 767.98px) {
      #quick-icon-section .quick-icon__item {
        width: 100%;
        padding: 0rem 4rem; }
        #quick-icon-section .quick-icon__item:not(:last-child) {
          margin-bottom: 2rem; } }
    #quick-icon-section .quick-icon__item > *:not(:last-child) {
      margin-bottom: 1.7rem; }
    #quick-icon-section .quick-icon__item--title h2 {
      text-decoration: none; }
    #quick-icon-section .quick-icon__item--text p {
      font-size: 1.6rem;
      text-align: justify; }

.home-content {
  padding: 4rem 0rem; }
  .home-content__top {
    margin-bottom: 2rem; }
    .home-content__top--title {
      text-align: center;
      flex: 1; }
      .home-content__top--title h1 {
        text-decoration: none;
        margin: auto; }
    .home-content__top--text {
      padding: 6rem 0rem 2rem 0rem; }
      .home-content__top--text p {
        font-size: 1.6rem; }
        .home-content__top--text p:first-child {
          text-indent: 4rem; }
        .home-content__top--text p:not(:last-child) {
          margin-bottom: 1rem; }
  .home-content__middle {
    margin-bottom: 2rem; }
    .home-content__middle--wrapper-title h1 {
      text-decoration: none;
      margin: auto; }
    .home-content__middle--wrapper-text {
      padding: 3rem 0rem 2rem 0rem; }
      .home-content__middle--wrapper-text p {
        font-size: 1.6rem; }
        .home-content__middle--wrapper-text p:first-child {
          text-indent: 0rem; }
        .home-content__middle--wrapper-text p:not(:last-child) {
          margin-bottom: 1rem; }
    .home-content__middle--image {
      padding: 3rem; }
  .home-content__bottom {
    margin-bottom: 2rem; }
    @media (max-width: 767.98px) {
      .home-content__bottom--order {
        order: 1; } }
    .home-content__bottom--wrapper-title h1 {
      text-decoration: none;
      margin: auto; }
    .home-content__bottom--wrapper-text {
      padding: 3rem 0rem 2rem 0rem; }
      .home-content__bottom--wrapper-text p {
        font-size: 1.6rem; }
        .home-content__bottom--wrapper-text p:first-child {
          text-indent: 0rem; }
        .home-content__bottom--wrapper-text p:not(:last-child) {
          margin-bottom: 1rem; }
    .home-content__bottom--image {
      padding: 4rem; }

.footer {
  background-color: #58585B;
  color: #A7A9AB;
  font-size: 1.4rem;
  padding: 1rem; }
  .footer hr {
    margin-top: 0rem;
    margin-bottom: 0rem;
    background-color: rgba(167, 169, 171, 0.4); }
  .footer__social {
    padding: 3rem 0rem;
    border-bottom: 1px solid rgba(167, 169, 171, 0.4); }
    .footer__social a {
      margin: 0rem 0.7rem;
      transition: all 0.2s; }
      .footer__social a:first-child {
        margin-left: 2rem; }
      .footer__social a:link, .footer__social a:visited {
        color: inherit; }
      .footer__social a:hover, .footer__social a:active {
        color: #dbdcdd; }
  .footer__quicklinks {
    padding: 2rem 0rem;
    border-bottom: 1px solid rgba(167, 169, 171, 0.4); }
    .footer__quicklinks ul {
      margin-bottom: 0rem; }
      .footer__quicklinks ul li {
        list-style: none;
        margin-bottom: 1.5rem; }
        .footer__quicklinks ul li a:link, .footer__quicklinks ul li a:visited {
          color: inherit;
          text-decoration: none; }
        .footer__quicklinks ul li a:hover, .footer__quicklinks ul li a:active {
          color: #dbdcdd; }
  .footer__bottom {
    padding: 2rem 0rem;
    padding-bottom: 0rem;
    display: flex; }
    .footer__bottom--declaration {
      flex: 1; }
    .footer__bottom--link a:link, .footer__bottom--link a:visited {
      color: inherit;
      text-decoration: none; }
    .footer__bottom--link a:hover, .footer__bottom--link a:active {
      color: #dbdcdd; }

.plyr--video {
  width: 70%;
  height: auto;
  margin: auto;
  border-radius: 0.5rem; }
  @media (max-width: 767.98px) {
    .plyr--video {
      width: 90%; } }
  @media (max-width: 398.98px) {
    .plyr--video {
      width: 100%; } }
  .plyr--video .plyr__progress--played, .plyr--video .plyr__volume--display {
    color: #ef4922; }
  .plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
    background: #ef4922; }
  .plyr--video .plyr__controls button:focus, .plyr--video .plyr__controls button:hover {
    background: #ef4922; }
