<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime executionTimeout ="120" maxRequestLength="10904586"/>

  </system.web>
  <appSettings>
   

    <add key="Host" value="smtp.sendgrid.net"/>
    <add key="EnableSsl" value="false"/>
    <add key="UserName" value="Sarjak"/>
    <add key="Password" value="P@rent#123"/>
    <add key="Port" value="587"/>
    <add key="EmailFrom" value="system@sarjak.com"/>
  </appSettings>
</configuration>