.corporate-statement {
    background-color: rgba($orange, 0.8);
    padding-bottom: 20rem;
    margin-bottom: 30rem;
    @include adapt(lg) {
        margin-bottom: 30rem;
    }
    @include adapt(md) {
        margin-bottom: 20rem;
    }
    @include adapt(sm) {
        padding-bottom: 10rem;
        margin-bottom: 25rem;
    }
    &__statement {
        padding: 6rem 6rem;
        color: white;
        @include adapt(md) {
            padding: 6rem 6rem;
        }
        @include adapt(md) {
            padding: 6rem 4rem;
        }
        &--title {
            text-align: center;
            h1 {
                font-size: 2.5rem;
            }
            margin-bottom: 3rem;
        }
        &--desc {
            text-align: justify;
            p {
                font-size: 1.6rem;
                line-height: 3.2rem;
                color: white;
            }
        }
        &--credits {
            text-align: right;
            p {
                font-size: 2rem;
                color: white;
                margin-bottom: 0rem;
            }
            span {
                font-size: 1.6rem;
            }
        }
    }
    &__video {
        // display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
    }
}