#quick-icon-section {
    .quick-icon {
    padding: 8rem 0rem 4rem 0rem;
        &__title {
            text-align: center;
            h1 {
                font-size: 2.5rem;
            }
        }
        @include clearfix;

        &__item {
            padding: 0rem 4rem;
            text-align: center;
            float: left;
            width: 33.33333%;
        
            @include adapt(md) {
                padding: 0rem 2rem;
            }

            @include adapt(sm){
                width: 100%;
                padding: 0rem 4rem;
                
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }

            }

        & > *:not(:last-child) {
            margin-bottom: 1.7rem;
        }
        
        &--title {
            & h2 {
                text-decoration: none;
            }
        }
        &--text {
            & p {
                font-size: 1.6rem;
                text-align: justify;
            }
        }
        }
    }
}