a#scroll-to-top {

    &:link,
    &:visited {
        display: block;
        position: fixed;
        padding: 2.5rem 2.7rem;
        background-color: lighten($orange, 5%);
        bottom: -100%;
        right: 10rem;
        border-radius: 50%;
        box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.2);
        cursor: pointer;
        transition: all 1s, background-color 0.2s;
        color: white; 

        @include adapt(md) {
            right: 7rem;
        }
        
        @include adapt(sm) {
            right: 4rem;
        }

        @include adapt(xs) {
            right: 2rem;
        }
    }
    
    &.show {
        bottom: 5rem;

        @include adapt(md) {
            bottom: 3rem;
        }

        @include adapt(sm) {
            bottom: 2rem;
        }

        @include adapt(xs) {
            bottom: 1rem;
        }

    }

    &:hover,
    &:active {
        background-color: darken($orange, 0%);
    }

    i {
        font-size: 1.4rem;
    }
}