.navbar {
    padding: 1.2rem 0rem;
    font-size: 1.5rem;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $color-white;
    z-index: 100;
    box-shadow: 0rem 0px 1rem $light-grey;

    @include adapt(sm) {
        padding: 1.2rem 2rem;
    }

    .navbar-brand {
        flex: 1;
        img {
            width: 20rem;
            height: auto;
            @include adapt(md) {
                width: 20rem;
            }
        }
    }
    .navbar-toggler {
        border: none;
        background: transparent !important;
        &:focus {
            outline: none;
        }
        & .icon-bar {
            width: 22px;
            height: 2px;
            background-color: $color-primary;
            display: block;
            transition: all 0.2s;
            margin-top: 4px;
        }
        &.collapsed .top-bar {
            transform: rotate(0);
        }
        &.collapsed .middle-bar {
            opacity: 1;
        }
        &.collapsed .bottom-bar {
            transform: rotate(0);
        }
        & .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        & .middle-bar {
            opacity: 0;
        }
        & .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
    }
    .navbar-collapse {
        @include adapt(md) {
            position: absolute;
            top: 9rem;
            left: 0;
            width: 100%;
            background-color: $color-white;
        }
        & ul.navbar-nav {
            & li.nav-item {
                @include adapt(md) {
                    text-align: center;
                }
                & a.nav-link {
                    padding: 2rem !important;
                    font-weight: 600;

                    &:link,
                    &:visited {
                        color: $color-black;
                    }
                    &:hover,
                    &:focus {
                        color: $color-black;
                        @include adapt(md) {
                            background-color: rgba($color-primary, 0.1);
                        }
                    }
                }
                & .dropdown-menu {
                    display: block;
                    right: 0;
                    left: -4rem;
                    top:calc(100% + 1rem);
                    border: 0px solid transparent;
                    color: $color-white;
                    background-color: $color-black;
                    opacity: 0;
                    transform: translateY(2rem);
                    transition: all 0.2s;
                    visibility: hidden;

                    @include adapt(md) {
                        background-color: $color-white;
                        color: $color-black;
                    }

                    &.show {
                    visibility: visible;
                    opacity: 1;
                    transform: translateY(0rem);
                        @include adapt(md) {
                            display: block;
                        }
                    }

                    @include adapt(md) {
                        display: none;
                        visibility: visible;
                        opacity: 1;
                        transform: translateY(0rem);
                        padding: 0px;
                        border: 0px solid transparent; 
                    }
                    
                    & .dropdown-item {
                        font-size: 1.5rem;
                        text-align: center;
                        padding: 1rem 2rem !important;
                        color: $color-white;
                        background-color: $color-black;
                        transition: all 0.2s;

                        @include adapt(md) {
                            padding: 2rem !important;
                            background-color: rgba($color-primary, 0.03);
                            color: $color-black;
                        }
                        &:active,
                        &:hover {
                            color: $color-black;
                            background-color: $color-white;
                            
                            @include adapt(md) {
                                background-color: rgba($color-primary, 0.1);
                            }
                        }
                    }
                }
            }
        }
        & ul.navbar-nav {
            &.icon-group {
                @include adapt(md) {
                    display: none;
                }
                & li.nav-item {
                    & a.nav-link {
                        padding: 2rem 1.5rem !important;
                    }
                }
            }
        }
    }
}

.page-title {
    padding: 2rem;
    background-color: $grey-background;
    border-bottom: 1px solid rgba($light-grey,0.3);

    & .page-title__title {
        & h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        
    }
    & .page-title__breadcrumbs {
        & .breadcrumb {
            background-color: transparent;
            font-size: 1.5rem;
            padding: 0rem;
            margin: 0rem;

            & .breadcrumb-item {
                & a {
                    color: $color-black;
                    text-decoration: none;
                }
            }
        }
        
    }
}

.hero-banner {
    padding: 8rem 0rem;
    background-color: $grey-background;

    & .container {
        position: relative;
        display: flex;
        align-items: center;

        @include adapt(md) {
            flex-direction: column;
        }

        
        & .hero-baner__img {
            width: 50%;
            background-image: url(../../images/laptopSlice_08.png);
            background-size: cover;
            order: 2;

            @include adapt(md) {
                width: 80%;
                order: 1;
                margin-bottom: 4rem;
            }

            & img {
                width: 100%;
                height: auto;

                
            }
        }

        & .hero-baner__text {
            width: 50%;
            order: 1;

            @include adapt(md) {
                width: 100%;
                text-align: center;
                order: 2;
            }

            & .hero-baner__text--title {
                & h1 {
                    font-family: $font-serif;
                    font-size: 4rem;
                    margin-bottom: 2rem;

                    @include adapt(sm) {
                        text-align: center;  
                    }
                }
            }
            & .hero-baner__text--subtitle {
                & h2 {
                    font-family: $font-serif;
                    font-size: 2rem;
                    margin-bottom: 3rem;

                    @include adapt(sm) {
                        text-align: center;  
                    }
                }
            }

            & .hero-baner__text--description {
                @include adapt(sm) {
                    padding: 0rem 2rem;
                }
                p {
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                    color: $light-grey;

                    @include adapt(sm) {
                        text-align: center;  
                    }
                }
            }

            & .hero-baner__text--action {
                
                & .dropdown {

                    @include adapt(sm) {
                        text-align: center;
                    }


                    & .btn {
                        font-size: 1rem;
                        background-color: $color-black;
                        color: $color-white;
                        border-radius: 0rem;
                        width: 20rem;
                        text-align: left;
                        padding: 1rem 2rem;
                    }
                    
                    & .dropdown-menu {
                        width: 20rem;
                        background-color: $color-black;
                        color: $color-white;
                        border: 0px;
                        border-radius: 0rem;

                        & .dropdown-item {
                            font-size: 1rem;
                            background-color: $color-black;
                            color: $color-white;
                            transition: all 0.2s;
                            padding: 1rem 2rem;

                            &:hover {
                                background-color: $color-white;
                                color: $color-black;
                            }
                        }
                    }
                }
            }
        }   
    }
}
.quick-icons {
    padding: 8rem 0rem;

    & .quick-icons__wrapper {
        margin-top: 6rem;
        display: flex;

        @include adapt(sm) {
            flex-direction: column;
        }

        & .quick-icons__icon {
            flex: 1;
            text-align: center;
            padding: 0rem 2rem;
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            
            @include adapt(sm) {
                flex-direction: row;
                text-align: left;
            }
            
            & .quick-icons__icon--icon {
                margin-bottom: 3rem;
                
                @include adapt(sm) {
                    margin-bottom: 0rem;
                    width: 15rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid lighten($light-grey,20%);
                    margin-right: 2rem;
                }

                img {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                    //border: 1px solid lighten($light-grey,20%);
                    box-shadow: 0rem 0px 1rem rgba($light-grey,0.3);
                    @include adapt(sm) {
                        box-shadow: none;
                    }
                }
            }

            & .quick-icons__icon--title {
                margin-bottom: 2rem;
                h2 {
                    font-family: "Noto Serif", serif;
                    font-size: 2rem;
                }
            }

            & .quick-icons__icon--description {
                margin-bottom: 1rem;
                p {
                    font-size: 1.5rem;
                    color: $light-grey;
                }
            }

            & .quick-icons__icon--action {
                a {
                    font-size: 1.2rem;
                    color: $color-black;
                    text-decoration: underline;
                }
            }
        }
    }
}
.why-sit{
    background-color: $grey-background;
        
    & .why-sit__img {
        position: relative;
        text-align: center;
        & .why-sit__img--wrapper {
            width: 50%;
            @include adapt(md) {
                width: 100%;
            }
            & img {
                width: 50rem;
                transform: translateY(7rem);

                @include adapt(sm) {
                    width: 40rem;
                }

            }
        }
    }
    & .why-sit__detail {
        background-color: $color-black;
        padding: 8rem 4rem 4rem 4rem;
        & .why-sit__detail--wrapper {
            width: 50%;
            
            @include adapt(md) {
                width: 100%;
                text-align: center;
            }

            & h1 {
                font-family: $font-serif;
                font-size: 4rem;
                margin-bottom: 2rem;
                color: $color-white;
                
            }

            & p {
                font-size: 1.5rem;
                margin-bottom: 2rem;
                color: $light-grey;
            }
            & button {
                font-size: 1rem;
                color: $color-white;
                border: 1px solid $color-white;
                border-radius: 0rem;
                width: 15rem;
                text-align: center;
                padding: 1rem 2rem;
            }
        }
    }
    & > .container {
        position: relative;
        & .why-sit__cards {
            position: absolute;
            background-color: $color-white;
            width: 28rem;
            height: 56rem;
            right: 0;
            bottom: 0;
            transform: translate(-50%,-7%);
            border-radius: 5rem;
            overflow: hidden;
            
            @include adapt(lg) {
                transform: translate(0%,-7%);
            }
            @include adapt(md) {
                position: relative;
                transform: translate(0,0);
                background-color: transparent;
                border-radius: 0rem;
                width: 100%;
                height: auto;
            }

            & img {
                width: 100%;
                transform: scale(1.01);
                position: absolute;
                
                @include adapt(md) {
                    display: none;
                }
            }

            & video {
                height: 100%;
                border-radius: 4rem;
            }

            & .why-sit__cards--points {
                padding: 7rem 4rem;

                @include adapt(md) {
                    background-color: transparent;
                    padding: 8rem 0rem;
                    display: flex;
                    flex-direction: row;
                }

                @include adapt(xs) {
                    flex-direction: column;
                }

                & .why-sit__cards--points-point {
                    
                    margin-bottom: 2rem;
                    text-align: center;

                    @include adapt(md) {
                        padding: 0rem 2rem;
                    }
                    

                    & .why-sit__cards--points-point-icon {
                        // min-width: 5rem;
                        // height: 5rem;
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        // border-radius: 50%;
                        // border: 3px solid $color-black;
                        // margin-right: 2rem;
                        width: 5rem;
                        height: 5rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        border: 3px solid black;
                        margin-right: 2rem;
                        margin: 0 auto;
                        margin-bottom: 2rem;
                        i {
                            font-size: 2rem;
                        }
                    }
                    & .why-sit__cards--points-point-text {
                        h2 {
                            font-family: "Noto Serif", serif;
                            font-size: 2rem;
                        }
                        p {
                            font-size: 1.2rem;
                        }
                    }
                }

            }
        } 
    }
       
}
.what-we-offer {
    padding: 8rem 0rem;

    & .what-we-offer__title {
        text-align: center;
        margin-bottom: 8rem;
        h1 {
            font-family: $font-serif;
            font-size: 4rem;
            margin-bottom: 2rem;
        }
    }

    & .what-we-offer__buttons {
        text-align: center;
        margin: 6rem 0rem;

        & .what-we-offer__buttons--button {
            color: $color-black;
            border: 1px solid $color-black;;
            border-radius: 0rem;
            width: 10rem;
            text-align: center;
            padding: 1rem 2rem;
            background-color: transparent;
            margin-right: 2rem;

            &:last-child {
                margin-right: 0rem;
            }

            &.active {
                color: $color-white;
                background-color: $color-black;
            }
        }
    }

    & .what-we-offer__items {
        @include clearfix;

        .container {
            @include adapt(xs) {
                padding: 0rem;
            }
        }

        & .what-we-offer__items--item {
            width: 25%;
            float: left;
            overflow: hidden;
            position: relative;

            @include adapt(md) {
                width: 33.333333339%;
            }

            @include adapt(sm) {
                width: 50%;
            }

            

            &:hover {
                & .what-we-offer__items--item-overlay {
                    opacity: 1;
                    transform: scale(1);
                }
            }

            & img.what-we-offer__items--item-img {
                width: 100%;
                height: auto;
                filter: grayscale(90%);
            }

            & .what-we-offer__items--item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 3rem;
                opacity: 0;
                transform: scale(0.5);
                transition: all 0.2s;
                background-color: rgba($color-black,0.8);


                & .what-we-offer__items--item-wrapper {
                    & .what-we-offer__items--item-title {
                        h2 {
                            font-family: "Noto Serif", serif;
                            font-size: 2rem;
                            color: $color-white;
                        }
                    }
                    & .what-we-offer__items--item-desc {
                        p {
                            font-size: 1.2rem;
                            color: $light-grey;
                        }
                    }
                    & .what-we-offer__items--item-action {
                        text-align: right;
                        a {
                            font-size: 2rem;
                            color: $color-white;
                        }
                    }
                }
            }
        }
    }
}
.work-with-us {
    background: url('../images/388.jpg');
    background-size: cover;
    background-position: right center;
    background-color: $grey-background;
    padding: 10rem 0rem;
    
    @include adapt(md) {
        background-position: 0;
    }

    
    & .container {
        position: relative;
        @include clearfix;
    }

    & .work-with-us__wrapper {
        width: 50%;
            
            @include adapt(md) {
                width: 80%;
            }

            @include adapt(xs) {
                width: 100%;
                text-align: center;
            }

            & h1 {
                font-family: $font-serif;
                font-size: 4rem;
                margin-bottom: 2rem;
                color: $color-black;
                
            }

            & p {
                font-size: 1.5rem;
                margin-bottom: 4rem;
                color: $dark-grey;
            }
            & button {
                font-size: 1rem;
                color: $color-white;
                border: 1px solid $color-black;
                background-color: $color-black;
                border-radius: 0rem;
                width: 15rem;
                text-align: center;
                padding: 1rem 2rem;
            }
    }

    & .work-with-us__img {
        display: none;
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        right: 0;

        & img {
            width: 35rem;
        }
    }   
}

.our-client {
padding: 4rem 0rem;
background-color: $grey-background;

    & .our-client--slider {
        & .slick-prev:before, 
        & .slick-next:before {
            
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: $color-black;
            opacity: 1;
        }

        & .slick-prev {
            left: -5rem;
            &:before {
                content: "\f060";
            }
        } 

        & .slick-next{
            right: -5rem;
            &:before {
                content: "\f061";
            }
        }

        & .slick-slide {
            height: inherit;
            & img {
                width: 100%;
                height: auto;
                filter: grayscale(100%);
            }
            &.slick-center {
                img {
                    filter: initial;
                }
            }
        }
    }
}

.contact-us {
    padding: 8rem 0rem;

    & .contact-us__container {
        position: relative;
        @include clearfix;

        & .contact-us__container--details {
            top:50%;
            transform: translateY(-50%);
            position: absolute;
            padding: 4rem;
            background-color: $color-black;
            color: $color-white;
            max-width: 50%;

            @include adapt(md) {
                position: relative;
                transform: translateY(0%);
                max-width: 100%;
            }

            & .contact-us__container--details-title {
                font-family: "Noto Serif", serif;
                font-size: 4rem;
                margin-bottom: 2rem;
            }
            & .contact-us__container--details-detail {
                display: flex;

                & .contact-us__container--details-detail-icon {
                    padding: 1rem;
                    font-size: 1.5rem;
                }
                & .contact-us__container--details-detail-text {
                    padding: 1rem;
                    font-size: 1.5rem;
                }
            }
            & .nav {
                margin-top: 2rem;

                & .nav-item {
                    & a.nav-link {
                        font-size: 1.5rem;
                        font-weight: 600;
                
                        &:link,
                        &:visited {
                            color: $color-white;
                        }
                        &:hover,
                        &:focus {
                            color: $color-white;
                        }
                    }
                }
            }
        }

        & .contact-us__container--form {
            width: 80%;
            background-color: $grey-background;
            padding: 4rem 4rem 4rem 35%;
            float: right;

            @include adapt(md) {
                padding: 4rem;
                float: none;
                width: 100%;
            }

            & .contact-us__container--form-title {
                & h1 {
                    font-family: $font-serif;
                    font-size: 4rem;
                    margin-bottom: 2rem;
                }

                & p {
                    font-size: 1.5rem;
                    margin-bottom: 2rem;
                    color: $light-grey;
                }
            }

            & .contact-us__container--form-form {
                font-size: 1.5rem;

                & input[type="text"],
                & input[type="email"] {
                    font-size: 1.5rem;
                    padding: 1rem;
                    height: 4rem;
                    border-radius: 0rem;
                    border: 1px solid transparent;
                    margin-bottom: 1.5rem;
                }

                & textarea {
                    font-size: 1.5rem;
                    padding: 1rem;
                    height: 10rem;
                    border-radius: 0rem;
                    border: 1px solid transparent;
                    margin-bottom: 1.5rem;
                }

                & button {
                    font-size: 1rem;
                    color: $color-white;
                    border: 1px solid $color-black;
                    background-color: $color-black;
                    border-radius: 0rem;
                    width: 15rem;
                    text-align: center;
                    padding: 1rem 2rem;
                }
            }
        }
    }
}
